<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="mainContent">
        <div class="container-fluid">
            <div class="row-2">
                <div class="col-12">
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <button type="button" class="btn btn-primary" style="background-color: #146c43; color: white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            + ADD NEW
                        </button>
                    </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">ADD NEW PLAYER</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{'/addPlayer'}" method="post">
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <label>NAME:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" name="name" placeholder="Insert Name">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <label>SURNAME:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" name="surname" placeholder="Insert Surname">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <label>BIRTHDATE:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="date" class="form-control" name="birthdate" placeholder="Insert Birthdate">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <label>POSITION:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <select name="pos_id">
                                                        <option th:each="city : ${position}"  th:text="${city.position}" th:value="${city.id}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button class="btn btn-success">ADD PLAYER</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NAME</th>
                                            <th>SURNAME</th>
                                            <th>BIRTHDATE</th>
                                            <th>POSITION</th>
                                            <th sec:authorize="hasAnyRole('ROLE_ADMIN')"  width="7%">DETAILS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="s : ${player}">
                                            <td th:text="${s.id}"></td>
                                            <td th:text="${s.name}"></td>
                                            <td th:text="${s.surname}"></td>
                                            <td th:text="${s.date}"></td>
                                            <td th:text="${s.position.position}"></td>
                                            <td>
                                                <a sec:authorize="hasAnyRole('ROLE_ADMIN')"  th:href="@{'/details/' + ${s.id}}" class="btn btn-primary btn-sm">DETAILS</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>